.row
  .col-xs-12
    h1 {{title}}
.row
  .col-xs-3
    form(novalidate, name='forcastForm', role='form')
      .form-group
        label(for='zip') Zip Code
        input.form-control#zip(name='zip', type='text', ng-model='zip', ng-pattern='/^[0-9]{5}$/', required, autofocus)
      .form-group
        button.btn.btn-success(ng-show='forcastForm.$valid', ng-click='getForcast()') Get Conditions
  .col-xs-9
